parameters:
	level: 8
	paths:
		- query-monitor-extend.php
		- src/
	bootstrapFiles:
		- vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
		- tests/phpstan/bootstrap.php
		- vendor/johnbillion/query-monitor/query-monitor.php
	stubFiles:
		- tests/phpstan/wordpress-overrides.stub
	dynamicConstantNames:
		- QMX_DISABLED
		- CONCATENATE_SCRIPTS
		- COMPRESS_SCRIPTS
		- COMPRESS_CSS
	tmpDir: .phpstan-cache/
	checkAlwaysTrueStrictComparison: true
	#ignoreErrors:
