.qm-hide-imagesize-origin,
.qm-hide-includedfilespath,
#qm-qmx-image_sizes .qm-hide-rowspan,
.qm-hide-includedfilescomponent { display: none !important; }

.qm tbody > tr > td.qm-imagesize-name[rowspan] { background-color: #FFF !important; }
.qm .qm-num.qm-imagesize-ratio { width: 80px !important; }

#qm-qmx-included_files .flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#qm-qmx-included_files .flex > span + span { margin-left: 10px; }

.qmx-includedfiles-filesize { max-width: 160px; min-width: 110px; }
.qmx-includedfiles-component { max-width: 200px; }
