#wp-admin-bar-query-monitor.qmx-highlight-suppresseds #wp-admin-bar-query-monitor-warnings-suppresseds a,
#wp-admin-bar-query-monitor.qmx-highlight-suppresseds #wp-admin-bar-query-monitor-notice-suppresseds a,
#wp-admin-bar-query-monitor.qmx-highlight-suppresseds #wp-admin-bar-query-monitor-stricts-suppresseds a,
#wp-admin-bar-query-monitor.qmx-highlight-suppresseds #wp-admin-bar-query-monitor-deprecated-suppresseds a { color: #eee !important; }

#wp-admin-bar-query-monitor.qmx-highlight-suppresseds #wp-admin-bar-query-monitor-warnings-suppresseds { background-color: #c00 !important; }
#wp-admin-bar-query-monitor.qmx-highlight-suppresseds #wp-admin-bar-query-monitor-notice-suppresseds { background-color: #740 !important; }
#wp-admin-bar-query-monitor.qmx-highlight-suppresseds #wp-admin-bar-query-monitor-stricts-suppresseds,
#wp-admin-bar-query-monitor.qmx-highlight-suppresseds #wp-admin-bar-query-monitor-deprecated-suppresseds { background-color: #3c3c3c !important; }

.qm thead .qmx-switches { float: right; }

.qm .qmx-switch {
    position: relative;
    margin-right: 5px;
}

.qm .qmx-switch + .qmx-switch { margin-left: 10px; }

.qm .qmx-switch input[type="checkbox"] { display: none; }

.qm .qmx-switch .slider {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 11px;
    margin: 2px 0 0;
    background-color: #ccc;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: .4s;
            transition: .4s;
}

    .qm .qmx-switch input:disabled ~ * {
        cursor: not-allowed;
        opacity: 0.5;
    }

.qm .qmx-switch .slider:before {
    position: absolute;
    content: "";
    height: 7px;
    width: 30%;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
            transition: .4s;
}

.qm .qmx-switch input:checked + .slider { background-color: #767676; }

.qm .qmx-switch input:focus + .slider { box-shadow: 0 0 1px #767676; }

.qm .qmx-switch input:checked + .slider:before {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
}

.qm .qmx-switch .slider + * { padding-left: 3px; }

.qm-hide-imagesize-origin,
.qm-hide-includedfilespath,
.qm-hide-includedfilescomponent { display: none !important; }

.qm tbody > tr > td.qm-imagesize-name[rowspan] { background-color: #FFF !important; }
.qm .qm-num.qm-imagesize-ratio { width: 80px !important; }

#qm-qmx-included_files .flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#qm-qmx-included_files .flex > span + span { margin-left: 10px; }

.qmx-includedfiles-filesize { max-width: 160px; min-width: 110px; }
.qmx-includedfiles-component { max-width: 200px; }

#qm-qmx-benchmarks tr .qm-info { visibility: hidden; }

    #qm-qmx-benchmarks tr:hover .qm-info { visibility: visible; }
